#gethmailer_config_form input[type='text'].gc-form-field,
#gethmailer_config_form select,
#gethmailer_settings_form input[type='text'],
#gethmailer_settings_form input[type='password'],
#gethmailer_settings_form input[type='email'],
#gethmailer_settings_test_email_form input[type='text'],
#gethprofit_config_form input[type='text'],
#gethprofit_config_form input[type='number']
{
    width: 350px;
}

textarea#gethmailer_test_message {
    width: 350px;
}

div.gethmailer-tab-wrapper {
    margin: 1px 12px;
}

#gethprofit_config_form.postbox,
div.gethmailer-tab-container .postbox,
div.gethmailer-log-container .postbox{
    padding: 8px;
}

div.gethmailer-tab-container .form-table th{
    width: unset;
}

.gethmailer-settings-container {
    padding: 1px 12px;
}
.gethmailer-settings-grid {
    display:inline-block;
}
.gethmailer-settings-main-cont {
    width: 100%;
}

div.gethmailer-msg-cont {
    clear: both;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #ffffe0;
}
div.gethmailer-msg-cont.msg-error {
    border-left: 5px solid red;
}
div.gethmailer-msg-cont.msg-success {
    border-left: 5px solid green;
}

#gethmailer-debug-log-cont {
    display: none;
}

#gethmailer_config_form .description{
    margin-bottom: 8px;
}

#gethmailer_config_form .add-config-btn,
#gethprofit_config_form .add-config-btn,
#gethmailer_config_form .test-config-btn
{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    margin-top: 0;
    padding: 5px 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    display: inline-block;
}


table.gm-pc-table {
    width: 100%;
    border-spacing: 0;
    display: block;
}

table.gm-pc-table thead,
table.gm-pc-table tbody{
    width: 100%;
    display: block;
}

table.gm-pc-table tr th {
    width: unset;
    padding: 15px 10px;
}

table.gm-pc-table tr {
    display: block;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.gm-pc-table tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.gm-pc-table tbody {
    height: 500px;
    overflow: auto;
}

table.gm-pc-table tr th:nth-child(1),
table.gm-pc-table tr td:nth-child(1){
    float: left;
    width: 12px;
}
table.gm-pc-table tr th:nth-child(2),
table.gm-pc-table tr td:nth-child(2){
    float: left;
    width: 25%;
}
table.gm-pc-table tr th:nth-child(3),
table.gm-pc-table tr td:nth-child(3){
    float: left;
    width: 25%;
}
table.gm-pc-table tr th:nth-child(4),
table.gm-pc-table tr td:nth-child(4){
    float: left;
    width: 25%;
}
table.gm-pc-table tr th:nth-child(5),
table.gm-pc-table tr td:nth-child(5){
    float: left;
    width: 10%;
}

@media (max-width: 782px) {
    .gethmailer-settings-grid {
	display: block;
	float: none;
	width: 100%;
    }
}